.header {
    font-size: 50px;
    background-image: linear-gradient(darkgray, goldenrod);
}

.head {
    text-align: center;
    font-size: 40px;
    padding: 50px;
}

img {
    width: 300px;
    height: 300px;
}

.random {
    font-size: 50px;
}

#searched-ingredient {
    padding: 20px;
}

.col {
    display: flex;
    justify-content: center;
    text-align: justify;
}

.padding {
    padding-bottom: 20px;
    padding-top: 20px;
}